@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);





#afternoon {
 font-weight: 500;
}

#square {
 font-weight: 500;
}


#time {
    color: red;
    font-weight: 800;
}

#job {
 font-weight: 800;
}

